<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>About Page</title>
</head>
<body>
  {{>header}}
  Name : {{Name}}
  <p>This is suman, bless me and ge me a strength to win'</p>
</body>
{{>footer}}
</html>
